<div class = "jumbotron">
  <h1>Sup orders page?</h1>
  <p>UserID: <%= current_user.id %></p>
  <p>Subtotal: <%= @order.subtotal %></p>
  <p>Tax: <%= @order.tax %></p>
  <p>Total: <%= @order.total %></p>
</div>