<div class = "jumbotron">
  <h1>Carted Products:</h1>
  <% @carted_products.each do |carted_product| %>
    <p>Product Name: <%= carted_product.product.name %></p>
    <p>Quantity: <%= carted_product.quantity %></p>
    <br>
  <% end %>
</div>