<div class = "jumbotron">
  <p class = "cut_it_out"><iframe src="//giphy.com/embed/Sy5TpQXJlJeQE" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
  <h2 class = "cut_it_out">You've just deleted a product buddy!</h2>
</div>