
<div class = "jumbotron"> 
  <div class = "page-header">
    <h1>Here's all my stuff:</h1>
  </div>
    <% @products.each do |product| %>
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h2 class = "panel-title"><%= product.name %></h2>
      </div>
      <div class = "panel-body">
        <h2>Price: <%= product.price %></h2>
        <p>Description: <%= product.description %></p>
        <p>Deliciousness: <%= product.deliciousness %></p>
        <p><button type="button" class="btn btn-primary">BUY NOW!</button> <button type="button" class="btn btn-success">ADD TO WISH LIST!</button></p>
      </div>
    </div>
  <% end %>
</div>

